<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SendDataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="AutoSendCircle" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnterSendEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareFlowControlEnableRTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareFlowControlEnableDTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TXT_IsAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TXT_PageNum" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="TXT_IsNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TXT_NumEachLine" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TXT_IsAutoDel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TXT_EffectiveDays" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="EXCEL_IsAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXCEL_LineCharNum" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EXCEL_LineNumEachPage" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EXCEL_IsAutoDel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXCEL_EffectiveDays" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BIN_IsAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BIN_CycleTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ThisSoftName" serializeAs="String">
                <value>串口调试工具</value>
            </setting>
            <setting name="ThisSoftVersion" serializeAs="String">
                <value>2.6.2.1001</value>
            </setting>
            <setting name="ReceiveDataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="DateOfIssue" serializeAs="String">
                <value>2013年9月</value>
            </setting>
            <setting name="AddressOfIssue" serializeAs="String">
                <value>湖北 武汉</value>
            </setting>
            <setting name="DataEncodingMode" serializeAs="String">
                <value>UnicodeEncoding</value>
            </setting>
            <setting name="DataDecodingMode" serializeAs="String">
                <value>UnicodeEncoding</value>
            </setting>
            <setting name="TrialDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="chkBoxPrefixCarReturns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxPrefixCarReturnsPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chkBoxPrefixLineFeeds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxPrefixLineFeedsPriority" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chkBoxPrefixTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxPrefixTabsPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="chkBoxPrefixSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxPrefixSpacePriority" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="chkBoxSuffixCarReturns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxSuffixCarReturnsPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chkBoxSuffixLineFeeds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxSuffixLineFeedsPriority" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chkBoxSuffixTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxSuffixTabsPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="chkBoxSuffixSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comBoxSuffixSpacePriority" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ChkPointOutCarReturns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkPointOutLineFeeds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkPointOutTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkPointOutSpace" serializeAs="String">
                <value>False</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </userSettings>
</configuration>